<form action='/robots' method="post">
  <p>Create a new robot:</p>
  <label>Name</label>
  <input type='text' name='name'/></br>
  <label>City</label>
  <input type='text' name='city'/></br>
  <label>State</label>
  <input type='text' name='state'/></br>
  <label>Department</label>
  <input type='text' name='department'/></br>
  <input type="submit"/>
</form>
